<!-- home page -->
<div class="flex-container">
  <div class="example-form d-flex justify-content-center" style="padding-top: 200px; padding-bottom: 200px;">
    <div class="text-center m-5 p-4"> <button mat-raised-button class="p-5 " style="font-size: 30px;">Teachers</button>
    </div>
    <div class="text-center m-5 p-4"> <button mat-raised-button class="p-5" style="font-size: 30px;">Students</button>
    </div>
    <div class="text-center m-5 p-4 "> <button mat-raised-button class="p-5" style="font-size: 30px;">Principle</button>
    </div>
  </div>
</div>